[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = http://github.com/ehamberg/haskellmode-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/shim"]
	path = vim/bundle/shim
	url = git://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/project"]
	path = vim/bundle/project
	url = git://github.com/shemerey/vim-project.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/syntax-sv"]
	path = vim/bundle/syntax-sv
	url = git://github.com/vim-scripts/systemverilog.vim--Kher.git
[submodule "vim/bundle/vimpdb"]
	path = vim/bundle/vimpdb
	url = git://github.com/gotcha/vimpdb.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/scons-syntax"]
	path = vim/bundle/scons-syntax
	url = https://github.com/vim-scripts/scons.vim
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/cpp11-syntax"]
	path = vim/bundle/cpp11-syntax
	url = https://github.com/vim-scripts/Cpp11-Syntax-Support
[submodule "vim/bundle/cpp-stl-syntax"]
	path = vim/bundle/cpp-stl-syntax
	url = git://github.com/vim-scripts/STL-Syntax.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "vim/bundle/colorscheme-jellybeans"]
	path = vim/bundle/colorscheme-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = git://github.com/nojhan/liquidprompt.git
