[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = http://github.com/ehamberg/haskellmode-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/python"]
	path = vim/bundle/python
	url = https://github.com/vim-scripts/python.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/shim"]
	path = vim/bundle/shim
	url = git://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/project"]
	path = vim/bundle/project
	url = git://github.com/shemerey/vim-project.git
